<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Add New Kitten</h2>
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" onSubmit="return checkblank(this);" action="/home/newkitten">
            <input required type="text" maxlength="70" class="form-control" name="kitten_name" placeholder="Name">
            <input required type="number" class="form-control" name="kitten_age" placeholder="Age">
            <input required type="text" maxlength="200" class="form-control" name="kitten_history" placeholder="History">
            <p>Fertile:</p>
            <input type="checkbox" class="form-control" name="kitten_fertility" placeholder="Fertile">
            <p>Adopted:</p>
            <input type="checkbox" class="form-control" name="kitten_adopted" placeholder="Adopted">
            <p>Photo:</p>
            <input required type="file" class="form-control" name="kitten_photos" placeholder="Photo Url">
          <input type="submit" value="Submit">
        </form>
      </div>
    <%- include footer %>