<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Add New Owner</h2>
        <form class="form-horizontal" role="form" method="post" onSubmit="return checkblank(this);" action="/home/newowner">
            <input type="text" class="form-control" name="owner_name" placeholder="Name">
            <input type="text" class="form-control" name="owner_email" placeholder="Email">
            <input type="text" class="form-control" name="owner_phone" placeholder="Phone Number">
            <input type="text" class="form-control" name="owner_address" placeholder="Addresss">
          <input type="submit" value="Submit">
        </form>
      </div>
    <%- include footer %>