<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <form class="form-horizontal" role="form" method="post" onSubmit="return checkblank(this);" action="/home/newstaff">
            <input required type="text" maxlength="70" class="form-control" name="staff_name" placeholder="Name">
            <input required type="email" class="form-control" name="staff_email" placeholder="Email">
            <input required type="text" pattern="\d{3}[\-]\d{3}[\-]\d{4}" class="form-control" name="staff_phone" placeholder="Phone Number">
            <input required type="text" maxlength="150" class="form-control" name="staff_address" placeholder="Address">
          <input type="submit" value="Submit">
        </form>
      </div>
    <%- include footer %>